# Editor/IDE settings
.idea/
.vscode/
.calva/

# Clojure build artifacts
target/
classes/
cpcache/
.cpcache/

# Clojure compiled output
*.class

# OS files
.DS_Store

# Leiningen specific (even if not used, por si alguien corre algo)
.lein-deps-sum
.lein-repl-history
.lein-plugins/

# Calva
**/.calva/

# Misc
*.log
*.tmp

.clj-kondo/
.nrepl-port

# Database
pulaplab.db
test-pulaplab.db

