{:paths ["src"]
 :deps {ring/ring-core           {:mvn/version "1.14.1"}
        ring/ring-jetty-adapter  {:mvn/version "1.14.1"}
        ring/ring-defaults       {:mvn/version "0.4.0"}
        ring/ring-anti-forgery   {:mvn/version "1.4.0"}
        metosin/reitit-ring      {:mvn/version "0.8.0"}
        seancorfield/next.jdbc   {:mvn/version "1.2.659"}
        org.xerial/sqlite-jdbc   {:mvn/version "3.45.3.0"}
        hiccup/hiccup            {:mvn/version "1.0.5"}
        org.clojure/tools.namespace {:mvn/version "1.5.0"}}}
